.wrapper {
  width: 100%;
  height: fit-content;
  padding: 10px 15px;
  margin-bottom: 15px;

  border: 2px solid black;
  border-radius: 12px;
  /* background-color: #f9f9f9; */
}

.header {
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin-left: 10px;
  color: var(--light-gray);

  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    filter: brightness(0.85);
  }
}
.actions button svg {
  width: 0.9rem;
  height: 0.9rem;
}
.actions button svg.marked {
  color: var(--red-shadow);
}

.word {
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
  line-height: 2.1rem;
}

.ipa {
  font-size: 0.95rem;
  color: var(--blue-point);
}

.definition {
  margin: 0.8rem 0 0.8rem 20px;
  padding: 0;

  list-style: decimal;
  color: black;
  font-size: 0.95rem;
  font-weight: 700;
}
.definition .jargon {
  color: red;
}

.mark {
  font-size: 1rem;
  font-weight: bold;
}

.wrapper hr {
  margin-bottom: 12px;
}

.memo {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.75rem;
  color: var(--gray);
}
