.page {
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  margin-right: auto;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

/* @media (max-width: 1280px) { } */

@media (max-width: 844px) {
  .categories-list {
    grid-template-columns: 222px 222px;
    justify-content: center;
  }
}
