.page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  gap: 10px;
}

/* @media (max-width: 1280px) { } */

@media (max-width: 844px) {
  .categories-list {
    grid-template-columns: 222px 222px;
    justify-content: center;
  }
}
