.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;

  background: repeating-linear-gradient(
      0deg,
      var(--yellow-shadow) 0px,
      var(--yellow) 1px,
      transparent 1px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      var(--yellow-shadow) 0px,
      var(--yellow) 1px,
      transparent 1px,
      transparent 50px
    );
  background-color: rgb(255, 255, 255);
}

.page {
  width: 100%;
  max-width: 500px;
  height: 450px;
  padding: 35px 40px;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.page .title {
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #333;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
}

.form input {
  margin-bottom: 20px;
  padding: 10px;

  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease;
}
.form input:focus {
  border-color: #007bff;
}

.form button {
  padding: 13px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form button:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;

  background: radial-gradient(
    circle,
    var(--yellow) 10%,
    var(--yellow) 40%,
    transparent 80%
  );
  color: #333;
  font-weight: 700;
  border: 1px solid #ccc;
}
.form button:first-of-type:hover {
  background: radial-gradient(
    circle,
    var(--yellow-shadow) 6%,
    var(--yellow) 40%,
    transparent 80%
  );
  transform: scale(1.05);
}
.form button:last-of-type {
  margin-bottom: 10px;

  background: radial-gradient(
    circle,
    var(--blue) 10%,
    var(--blue) 40%,
    transparent 80%
  );
  color: #333;
  font-weight: 700;
  border: 1px solid #ccc;
}
.form button:last-of-type:hover {
  background: radial-gradient(
    circle,
    var(--blue-shadow) 6%,
    var(--blue) 40%,
    transparent 80%
  );
  transform: scale(1.05);
}

/* @media (max-width: 1280px) { } */

@media (max-width: 844px) {
  .page {
    width: 90%;
    height: 450px;
    padding: 35px 25px;
  }
}
