/* Text Input */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.formGroup label {
  font-weight: bold;
}
.formGroup input,
.formGroup textarea {
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

/* Select & Options */
.formGroup select {
  width: 100%;
  min-height: 42px;
  padding: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  color: black;
  outline: none;
  cursor: pointer;

  border: 2px solid #000000;
  border-radius: 4px;
}
.formGroup select option {
  height: 42px;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.categorySelect {
  position: relative;
  width: 436px;
  height: 84px;

  cursor: pointer;
}
.imageSection {
  position: relative;
  width: 100%;
  height: 100%;
}
.infoSection {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
  display: flex;
}

.createBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createBtn button {
  width: 100%;
  height: 100%;

  font-size: 1.1rem;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  background: var(--yellow);
}
.createBtn:hover {
  transform: scale(1.015);
}
