.page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.nav {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
}
.search {
  display: flex;
}

.categories-list {
  display: grid;
  grid-template-columns: 222px 222px 222px;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

/* @media (max-width: 1280px) { } */

@media (max-width: 844px) {
  .categories-list {
    grid-template-columns: 222px 222px;
    justify-content: center;
  }
}
