.wrapper {
  width: 100%;
}

.search-btn {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}
.search-btn:hover {
  transform: scale(1.05);
  border: 1px solid #bdbdbd;
}
.search-btn:active {
  border: 1px solid #bdbdbd;
}
.search-btn > button {
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
