.form {
  width: 100%;
  margin-top: 15px;

  display: grid;
  gap: 2.5rem;
}

/* Text Input */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.formGroup label {
  font-weight: bold;
}
.formGroup input,
.formGroup textarea {
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.ipa {
  display: flex;
  align-items: center;
}
.ipa p {
  font-size: 2rem;
  font-weight: 500;
  color: #eaeaea;
  transition: color 0.3s ease;
}
.ipa input {
  width: 100%;
  margin: 0 10px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #eaeaea;
  border-radius: 0;
  outline: none;
  transition: border-color 0.3s ease;
}
.ipa input:hover,
.ipa input:focus {
  border-bottom-color: black;
}
.ipa:has(input:hover) p,
.ipa:has(input:focus) p {
  color: black;
}

/* Select & Options */
.formGroup select {
  width: 100%;
  min-height: 42px;
  padding: 0.5rem;

  font-size: 1rem;
  font-weight: 600;
  color: black;
  outline: none;
  cursor: pointer;

  /* background: transparent; */
  border: 2px solid #000000;
  border-radius: 4px;
}
.formGroup select option {
  height: 42px;
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.categorySelect {
  position: relative;
  width: 436px;
  height: 84px;

  cursor: pointer;
}
.imageSection {
  position: relative;
  width: 100%;
  height: 100%;
}
.infoSection {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
  display: flex;
}

/* Dynamic Fields */
.dynamicField {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.dynamicField input {
  flex: 1;
}

.checkBtn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #eaeaea;
  border: 2px solid #eaeaea;
  border-radius: 50%;

  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    /* transform: scale(1.03); */
    filter: brightness(0.85);
  }
}
.checkBtn.jargon {
  border: 2px solid var(--green-shadow);
  background: var(--green-shadow);
}
.checkBtn.jargon svg {
  color: white;
}

.deleteBtn {
  color: var(--light-gray);

  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    filter: brightness(0.85);
  }
}
.checkBtn svg,
.deleteBtn svg {
  width: 1rem;
  height: 1rem;
}

.addBtn {
  /* width: 2rem;
  height: 2rem;
  margin-right: auto; */

  /* background: var(--green-shadow); */
  /* color: white; */
  color: #eaeaea;
  /* color: #888; */
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  border: 2px solid #eaeaea;
  /* border: 1px solid #888; */

  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    /* transform: scale(1.01); */
    filter: brightness(0.7);
  }
}
.addBtn svg {
  width: 1rem;
  height: 1rem;
}

/* Linked Words */
.linkedWordPicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.linkedWordPicker h3 {
  margin-bottom: 1rem;
}

.linkedWordPicker ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.linkedWordPicker ul li {
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.linkedWordPicker ul li:hover {
  background-color: #f1f1f1;
}

.linkedWordPicker button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #888;
  color: white;
  cursor: pointer;
}

/* Buttons */
.buttonGroup {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cancelButton {
  padding: 0.75rem 2rem;
  border: 2px solid #888;
  border-radius: 5px;
  font-weight: 700;
  color: #888;

  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;

  &:hover {
    transform: scale(1.03);
  }
}

.createButton {
  background-color: var(--yellow);
  padding: 0.75rem 2rem;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 700;

  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;

  &:hover {
    transform: scale(1.03);
    background-color: var(--yellow);
  }
}

.badge {
  padding: 1px 8px;
  display: inline-block;

  font-weight: 600;
  font-size: 0.68rem;
  color: black;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
